body {
    background-color: #dedbd3;
}

main {
    text-align: center;
    font-family: 'Roboto Serif', sans-serif;
}


.alignleft {
    float:left;
}

.alignright {
    float: right;
}


#foot{
    padding: 20px;
    background-color: #d6cdbc;
    position: absolute;
    bottom: 0;
    width: 95%;
}